* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
  line-height: 1.3;
}

main {
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-image: url(/images/x-o.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.interface-con {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.45));
  backdrop-filter: blur(2rem);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(25, 25, 25, 0.3);
}

.play-btn {
  background: linear-gradient(45deg, rgba(8, 219, 216, 0.7764705882), rgba(232, 102, 232, 0.8431372549));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(25, 25, 25, 0.3);
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --primary--light: #3f72af;
  --primary--dark: #112d4e;
  --secondary--light: #f9f7f7;
  --primary-yellow: #f1c300;
  --primary--white: #dfecf4;
  --primary--gray: #b8babb;
  --primary--blue: #08dbd8;
  --primary--pink: #e766e8;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.interface-con {
  min-height: 35vw;
  width: 35vw;
  border-radius: 1.2rem;
  font-family: "Noto Sans";
  font-weight: 700;
}

.homepage {
  flex-direction: column;
}
.homepage .play-btn {
  font-size: 1rem;
  width: 30vw;
  padding: 5%;
  border-style: none;
  border: none;
  border-radius: 1rem;
  transition: all 100ms ease-out;
}
.homepage .play-btn:hover {
  font-size: 1.15rem;
  cursor: pointer;
}

.logo {
  font-size: 5rem;
}
.logo:nth-child(1) {
  color: var(--primary--blue);
  text-shadow: 0 0 5px rgba(8, 219, 216, 0.7), 0 0 20px rgba(8, 219, 216, 0.7), 0 0 60px rgba(8, 219, 216, 0.7);
}
.logo:nth-child(2) {
  color: var(--primary--pink);
  text-shadow: 0 0 5px rgba(231, 102, 232, 0.7), 0 0 20px rgba(231, 102, 232, 0.7), 0 0 60px rgba(231, 102, 232, 0.7);
}

.player-selection {
  display: none;
  background-color: transparent;
  border: none;
}
.player-selection .select-text {
  color: white;
  font-size: 1rem;
}

.x,
.o {
  font-size: 5rem;
}
.x:hover,
.o:hover {
  cursor: pointer;
}

.x {
  color: var(--primary--gray);
  transition: all 300ms ease-in;
}
.x:hover {
  color: var(--primary--blue);
  text-shadow: 0 0 5px rgba(8, 219, 216, 0.7), 0 0 20px rgba(8, 219, 216, 0.7), 0 0 60px rgba(8, 219, 216, 0.7);
}

.o {
  color: var(--primary--gray);
  transition: all 300ms ease-in;
}
.o:hover {
  color: var(--primary--pink);
  text-shadow: 0 0 5px rgba(231, 102, 232, 0.7), 0 0 20px rgba(231, 102, 232, 0.7), 0 0 60px rgba(231, 102, 232, 0.7);
}

.game-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.board-container {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.2rem;
  padding: 0.2rem;
  background: linear-gradient(70deg, var(--primary--blue), var(--primary--pink));
  border-radius: 5%;
  height: 35vw;
  width: 35vw;
}

.items {
  background-color: #02192C;
  font-size: 3rem;
}
.items:hover {
  cursor: pointer;
}
.items:nth-child(1) {
  border-top-left-radius: 10%;
}
.items:nth-child(3) {
  border-top-right-radius: 10%;
}
.items:nth-child(7) {
  border-bottom-left-radius: 10%;
}
.items:nth-child(9) {
  border-bottom-right-radius: 10%;
}

.x-color {
  color: var(--primary--blue);
  text-shadow: 0 0 5px rgba(8, 219, 216, 0.7), 0 0 20px rgba(8, 219, 216, 0.7), 0 0 60px rgba(8, 219, 216, 0.7);
}

.o-color {
  color: var(--primary--pink);
  text-shadow: 0 0 5px rgba(231, 102, 232, 0.7), 0 0 20px rgba(231, 102, 232, 0.7), 0 0 60px rgba(231, 102, 232, 0.7);
}

.buttons {
  margin-top: 1%;
}
.buttons span {
  font-size: 2rem;
}
.buttons span:hover {
  cursor: pointer;
}

.redo, .undo {
  display: none;
  pointer-events: none;
  user-select: none;
}

/*# sourceMappingURL=main.css.map */
