* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: white;
  line-height: 1.3;
}

li {
  list-style: none;
}

main {
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-image: url(/images/x-o.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.interface-con {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.45));
  backdrop-filter: blur(2rem);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(25, 25, 25, 0.3);
}

.play-btn {
  background: linear-gradient(45deg, rgba(8, 219, 216, 0.7764705882), rgba(232, 102, 232, 0.8431372549));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(25, 25, 25, 0.3);
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --primary--light: #3f72af;
  --primary--dark: #112d4e;
  --secondary--light: #f9f7f7;
  --primary-yellow: #f1c300;
  --primary--white: #dfecf4;
  --primary--gray: #b8babb;
  --primary--blue: #08dbd8;
  --primary--pink: #e766e8;
  --move--up: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flip {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(9deg);
  }
}
@keyframes win {
  0% {
    font-size: 3rem;
  }
  50% {
    font-size: 2.9rem;
  }
  100% {
    font-size: 3rem;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.flip {
  animation-name: flip;
  animation-duration: 500ms;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.win {
  animation-name: win;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.shake {
  animation-name: shake;
  animation-duration: 500ms;
}

.slideUp {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--move--up));
  }
}
.slideDown {
  animation-name: slide-down;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0.8em);
  }
}
.changeCol {
  animation-name: backgroundCol;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes backgroundCol {
  0% {
    background-color: #02192c;
  }
  100% {
    background-color: rgba(2, 25, 44, 0.1529411765);
  }
}
.reverseCol {
  animation-name: backgroundCol;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes backgroundCol {
  0% {
    background-color: rgba(2, 25, 44, 0.1529411765);
  }
  100% {
    background-color: #02192c;
  }
}
.interface-con {
  min-height: 30vw;
  width: 30vw;
  border-radius: 1.2rem;
  font-family: "Noto Sans";
  font-weight: 700;
}

.homepage {
  flex-direction: column;
}
.homepage .play-btn {
  font-size: 1rem;
  width: 20vw;
  padding: 5%;
  border-style: none;
  border: none;
  border-radius: 1rem;
  transition: all 100ms ease-out;
}
.homepage .play-btn:hover {
  font-size: 1.15rem;
  cursor: pointer;
}

.logo {
  font-size: 5rem;
}
.logo:nth-child(1) {
  color: var(--primary--blue);
  text-shadow: 0 0 5px rgba(8, 219, 216, 0.7), 0 0 20px rgba(8, 219, 216, 0.7), 0 0 60px rgba(8, 219, 216, 0.7);
}
.logo:nth-child(2) {
  color: var(--primary--pink);
  text-shadow: 0 0 5px rgba(231, 102, 232, 0.7), 0 0 20px rgba(231, 102, 232, 0.7), 0 0 60px rgba(231, 102, 232, 0.7);
}

.player-selection {
  display: none;
  background-color: transparent;
  border: none;
}
.player-selection .select-text {
  color: white;
  font-size: 1rem;
}

.x,
.o {
  font-size: 5rem;
}
.x:hover,
.o:hover {
  cursor: pointer;
}

.x {
  color: var(--primary--gray);
  transition: all 300ms ease-in;
}
.x:hover {
  color: var(--primary--blue);
  text-shadow: 0 0 5px rgba(8, 219, 216, 0.7), 0 0 20px rgba(8, 219, 216, 0.7), 0 0 60px rgba(8, 219, 216, 0.7);
}

.o {
  color: var(--primary--gray);
  transition: all 300ms ease-in;
}
.o:hover {
  color: var(--primary--pink);
  text-shadow: 0 0 5px rgba(231, 102, 232, 0.7), 0 0 20px rgba(231, 102, 232, 0.7), 0 0 60px rgba(231, 102, 232, 0.7);
}

.game-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.board-container {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.2rem;
  padding: 0.2rem;
  background: linear-gradient(70deg, var(--primary--blue), var(--primary--pink));
  border-radius: 5%;
  height: 30vw;
  width: 30vw;
}

.items {
  background-color: #02192c;
  font-size: 3rem;
}
.items:hover {
  cursor: pointer;
}
.items:nth-child(1) {
  border-top-left-radius: 10%;
}
.items:nth-child(3) {
  border-top-right-radius: 10%;
}
.items:nth-child(7) {
  border-bottom-left-radius: 10%;
}
.items:nth-child(9) {
  border-bottom-right-radius: 10%;
}

.x-color {
  color: var(--primary--blue);
  text-shadow: 0 0 5px rgba(8, 219, 216, 0.7), 0 0 20px rgba(8, 219, 216, 0.7), 0 0 60px rgba(8, 219, 216, 0.7);
}

.o-color {
  color: var(--primary--pink);
  text-shadow: 0 0 5px rgba(231, 102, 232, 0.7), 0 0 20px rgba(231, 102, 232, 0.7), 0 0 60px rgba(231, 102, 232, 0.7);
}

.buttons {
  margin-top: 1%;
}
.buttons span {
  font-size: 2rem;
}
.buttons span:hover {
  cursor: pointer;
}

.historyBtn {
  visibility: hidden;
  position: absolute;
  top: 4%;
  left: 4%;
  font-size: 1.3rem;
}
.historyBtn:hover {
  cursor: pointer;
}

.modalbg {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgba(65, 62, 62, 0.733);
  position: absolute;
  z-index: 999;
}

.histories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 33%;
  top: 15%;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.45));
  backdrop-filter: blur(2rem);
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(25, 25, 25, 0.3);
  border-radius: 5%;
}

.historyCon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2%;
  width: 11rem;
  height: 11rem;
  border-radius: 5%;
  background: transparent;
}
.historyCon li {
  text-align: center;
}
.historyCon::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}
.historyCon::-webkit-scrollbar {
  width: 10px;
}
.historyCon::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}

.redo,
.undo {
  visibility: hidden;
  pointer-events: none;
  user-select: none;
}

.reset {
  visibility: hidden;
}

.history {
  visibility: hidden;
  display: none;
  overflow: hidden;
  justify-content: space-around;
  flex-direction: column;
  width: 8rem;
  max-height: 50vh;
  align-items: center;
}
.history span {
  font-size: 0.8rem;
}

.texts {
  transition: all 0.5s ease;
}

.close {
  font-size: 1.3rem;
  position: absolute;
  top: 4%;
  left: 90%;
  cursor: pointer;
}

.lists {
  font-size: 0.9rem;
}

.bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(11, 10, 22, 0.8431372549);
  top: 0;
}

.game-state {
  position: absolute;
  top: 2%;
  left: 42%;
}

.game-state-text {
  visibility: hidden;
  color: var(--primary--blue);
  text-shadow: 0 0 5px rgba(8, 219, 216, 0.7), 0 0 20px rgba(8, 219, 216, 0.7), 0 0 60px rgba(8, 219, 216, 0.7);
}

/*# sourceMappingURL=main.css.map */
