:root {
   --primary--light: #3f72af;
   --primary--dark: #112d4e;
   --secondary--light: #f9f7f7;
   --primary-yellow: #f1c300;
   --primary--white: #dfecf4;
   --primary--gray: #b8babb;
   --primary--blue: #08dbd8;
   --primary--pink: #e766e8;

   --move--up: 0;
}
