@use './base/' as *;
@use './abstracts/' as *;
@use './components/' as *;
@use './layout/' as *;

.buttons {
   margin-top: 1%;
   span {
      font-size: 2rem;
      &:hover {
         cursor: pointer;
      }
   }
}

.redo, .undo {
    display: none;
    pointer-events: none;
    user-select: none;
}

