.homepage {
   flex-direction: column;

   .play-btn {
      font-size: 1rem;
      width: 20vw;
      padding: 5%;
      border-style: none;
      border: none;
      border-radius: 1rem;
      transition: all 100ms ease-out;

      &:hover {
         font-size: 1.15rem;
         cursor: pointer;
      }
   }
}

.logo {
   font-size: 5rem;
   &:nth-child(1){
      color: var(--primary--blue);
      text-shadow: 0 0 5px rgba(8, 219, 216, 0.7), 0 0 20px rgba(8, 219, 216, 0.7), 0 0 60px rgba(8, 219, 216, 0.7);
   }
   &:nth-child(2){
      color: var(--primary--pink);
      text-shadow: 0 0 5px rgba(231, 102, 232, 0.7), 0 0 20px rgba(231, 102, 232, 0.7), 0 0 60px rgba(231, 102, 232, 0.7);
   }
}
