@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut{
    animation-name: fadeOut;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}