main {
   min-height: 100vh;
   width: 100vw;
   flex-direction: column;
   background-image: url(/images/x-o.png);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.interface-con {
   background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.574), rgba(0, 0, 0, 0.45));
   backdrop-filter: blur(2rem);
   box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(25, 25, 25, 0.3);
}

.play-btn {
   background: linear-gradient(45deg, #08dbd8c6, #e866e8d7);
   box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(25, 25, 25, 0.3);
}

.center-flex {
   display: flex;
   justify-content: center;
   align-items: center;
}
